.icon {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 16px;
  object-fit: contain;
  z-index: 1000;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &.hide {
    opacity: 0;
  }
}
