.instructions-container {
  position: fixed;
  margin: 0 auto;
  top: 16px;
  left: 0;
  right: 0;
  width: 456px;
  height: 48px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(138, 138, 138, 0.5);
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #6c6c6c;
}

.instructions-container span {
  height: 32px;
}

.instructions-container span .circle {
  width: 17px;
  height: 17px;
  opacity: 0.58;
  border-radius: 50%;
  border: solid 1px #ed6b6a;
  background-color: rgba(241, 118, 121, 0.37);
  margin-left: 5px;
}
