.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#root {
  height: 100%;
  width: 100%;
}
.svg-container {
  display: flex;
  align-items: center;
}

.svg-container div {
  width: 100%;
  height: 100%;
}

@supports (not (-moz-appearance: button)) and (contain: paint) and
  (-webkit-appearance: none) {
  .svg-container div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  .svg-container div {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .svg-container svg {
    display: block;
    height: 100%;
    width: unset;
    animation: alternate;
  }

  .MuiButtonBase-root {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
  }
  .MuiGrid-root {
    width: 100%;
  }
  .MuiGrid-item {
    padding: 0;
  }

  .MuiPaper-root {
    width: 100% !important;
    max-height: unset !important;
    left: unset !important;
    max-width: unset !important;
  }

  .MuiPaper-root ul {
    padding: 6px 20px 0 20px !important;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .MuiPaper-root li {
    border-bottom: 1px solid #fff !important;
    padding: 22px 0;
  }

  .mobile-scroll {
    -webkit-overflow-scrolling: touch;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
